<div class="container col-xxl-8 px-4 py-5">
     <div class="row flex-lg-row-reverse align-items-center  ">
      <div class="col">
   <%= image_tag "test.jpeg"%>
   <%= image_tag "test.jpeg"%>
       </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Share your travel images and experinces</h1>
        <p class="lead lh-base">Image hub is the go to place to experince different parts of the world without even leaving yout front door. <br>
        Share your travel or local images. Find images of places you want to good in different cities and countries all around the world.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-3 me-md-2 rounded-pill">Log In </button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-3 rounded-pill">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

 
